    body {
        display: flex;
        margin: 0ppx;
        flex-direction: column;
    }
    
    .daddy {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }
    
    .aula {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        margin: 5px;
        width: 350px;
        height: 500px;
    }
    
    .aula2 {
        display: flex;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        margin: 5px;
        width: 710px;
        height: 400px;
    }
    
    .bigDivLeft {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .bigDivRight {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .divSmallDefinitions {
        display: flex;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        margin: 5px;
        width: 710px;
        height: 400px;
    }
    
    .smallDivLeft {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .smallDivRight {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        flex-direction: column;
    }
    
    .input {
        min-height: 25px;
        margin-top: 5px;
        width: 90%;
        align-self: center;
        padding: 0px;
        border: none;
        text-indent: 10px;
    }
    
    .bt {
        width: 90%;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        border-color: rgba(26, 26, 26, 0.253);
        align-self: center;
    }
    
    .Pflex {
        width: 80%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        border-radius: 5px;
        text-align: start;
        margin-top: 5px;
        border: 1px solid #ccc;
        align-self: center;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    
    .imgUdemy {
        width: 25%;
        align-self: center;
    }
    
    p {
        text-align: start;
        width: 91%;
        white-space: pre-line;
        margin-left: 15px;
    }
    
    h1 {
        width: 91%;
        align-self: center;
        margin: 0px;
        margin-top: 10px;
    }
    
    h2 {
        width: 91%;
        align-self: center;
    }
    
    .forInput {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        padding: 5px;
    }
    
    .forInput input {
        align-self: flex-start;
    }
    
    .forInput button {
        align-self: flex-start;
    }
    
    .respClass {
        margin-left: 20px;
    }
    
    .checkBox {
        margin: 0px;
        padding: 0px;
        align-self: center;
    }